        <sensor name="d435_color" type="camera">
            <always_on>1</always_on>
            <update_rate>30</update_rate>
            <visualize>1</visualize>
            <pose>0 0.0175 0.5125 0 -0 0</pose>
	        <topic>/model/igt_one/color_camera</topic>
	        <camera name="d435">
		        <horizontal_fov>1.21126</horizontal_fov>
		        <image>
			        <width>640</width>
			        <height>480</height>
					<format>RGB_INT8</format>
				</image>
				<clip>
					<near>0.1</near>
					<far>100</far>
				</clip>
				<noise>
					<type>gaussian</type>
					<mean>0</mean>
					<stddev>0.007</stddev>
				</noise>
			</camera>
		</sensor>